body {
    font-family: 'Manrope', sans-serif;
    background-color: hsl(218, 23%, 16%);
}
ul {
    list-style: none;
}

#advice-body {
    display: flex;
   justify-content: center;
   align-items: center;
}

#advice {
   border: 2px solid white;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 375px;
}

#adviceDisplay {
    color: white;
    font-size: 28px;
}
#idDisplay{
    color: hsl(193, 38%, 86%);
}