body {
    font-family: 'Manrope', sans-serif;
    background-color: hsl(218, 23%, 16%);
}
ul {
    list-style: none;
}

#advice {
   border: 2px solid white;
   
}

#adviceDisplay {
    color: white;
    font-size: 28px;
}
#idDisplay{
    color: hsl(193, 38%, 86%);
}